/*css login.php*/
.formLogin{
    margin-top: 30px;
}

/*css index.php*/
.esconde{
    display: none;
}

#dropCadastro{
    position: absolute;
    background-color: #4582ec;
    color: RGBA(255, 255, 255, 0.6);
    text-align: left;
    padding: 0px;
}
.itemDrop{
    list-style: none;
    padding: 5px 15px 5px 10px;
}
.itemDrop:hover{
    color: #fff;
    cursor: pointer;
}
#dropGestaoProduto{
    position: absolute;
    background-color: #4582ec;
    color: RGBA(255, 255, 255, 0.6);
    text-align: left;
    padding: 0px;
}
.userLogado{
    color: #fff;
    line-height: 41px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-family: Arial, SansSerif;
}
.btnSair{
    color: #fff;
    border: 1px solid #fff;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
}
.btnSair:hover{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    font-family: Arial, SansSerif;
}