/*css login.php*/
.formLogin{
    margin-top: 30px;
}

/*css index.php*/
.esconde{
    display: none;
}

#dropCadastro, #dropGestaoProduto, #dropRelatorio{
    position: absolute;
    background-color: #4582ec;
    color: RGBA(255, 255, 255, 0.6);
    text-align: left;
    padding: 0px;
}
.itemDrop{
    list-style: none;
    padding: 5px 15px 5px 10px;
}
.itemDrop:hover{
    color: #fff;
    cursor: pointer;
}

.userLogado{
    color: #fff;
    line-height: 41px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-family: Arial, SansSerif;
}
.btnSair{
    color: #fff;
    border: 1px solid #fff;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
}
.btnSair:hover{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    font-family: Arial, SansSerif;
}
.linkMenu{
    color: RGBA(255, 255, 255, 0.6);
}
.linkMenu:hover{
    text-decoration: none;
}
.titulo{
    text-align: center;
    margin: 10px 0px 15px 0px;
}
.btnListUser{
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}
#btnCadastrar{
    float: right;
}
.containerCenter{
    max-width: 600px;
    margin: auto;
}
.containerCenter2{
    max-width: 900px;
    margin: auto;
}
.btnCadastro{
    margin-bottom: 20px;
}
.imgVoltarP{
    margin-right: 5px;
    height: 11px;
}
.button{
    cursor: pointer ;
}
.button:hover{
    background-color: #d7dbdf;
}
.modalSemRetorno{
    width: 300px;
    height: 80px;
    background-color: red;
    float: right;
    position: absolute;
    top: 41px;
    margin-left: 80%;
}
.msgAlert{
    color: RGBA(0, 0, 0, 0.7);
}
.mostrar{
    display: block;
}
.elementoR{
    margin-left: 40px;
}
.campId{
    width: 20px;
    height: 30px;
    margin-left: 10px;
    float: right;
}
.formConvert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imgConver{
    display: flex;
    justify-content: center;
}
.formEntrada{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.imgEntrada{
    margin-left: 5px;
    margin-bottom: 5px;
}
.pequenoCampo{
    background-color: #e9ecef;
    max-width: 45px;
    height: 30px;
    margin-left: 10px;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    text-align: center;
}
#rs{
    font-size: 25px;
}

/*Caixa*/
.componentR{
    overflow: auto;
    height: 300px;
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    float: left;
}

.valoresCaixa{
    height: 300px;
    width: 490px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    float: right;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.linhaCaixa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.camposCaixa{
    margin: 5px;
    box-sizing: border-box;
}
.botaoCaixa{
    margin-top: 15px;
}
.titleCaixa{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.opcoesCaixa{
    margin-left: 10px;
    margin-top: 5px;
    width: 150px;
}
.footer{
    height: 40px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    font-family: Arial, SansSerif;
}
.telaCaixa{
    display: flex;
    flex-direction: column;
}
.especieLinha{
    display: flex;
    flex-direction: row;
}
.especieItem{
    margin: 10px;
}
.scroll{
    overflow: auto;
    max-height: 400px;
}
.tamanhoModal{
    max-height: 700px;
}
.checkRelatorio{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-left: 10px;
}
.colunas{
    display: flex;
    flex-direction: row;
}
#selectCaixa{
    margin-left: 0px;
}
.space{
    margin-top: 50px;
}