/*css login.php*/
.formLogin{
    margin-top: 30px;
}

/*css index.php*/
.esconde{
    display: none;
}

#dropCadastro{
    position: absolute;
    background-color: #4582ec;
    color: RGBA(255, 255, 255, 0.6);
    text-align: left;
    padding: 0px;
}
.itemDrop{
    list-style: none;
    padding: 5px 15px 5px 10px;
}
.itemDrop:hover{
    color: #fff;
    cursor: pointer;
}
#dropGestaoProduto{
    position: absolute;
    background-color: #4582ec;
    color: RGBA(255, 255, 255, 0.6);
    text-align: left;
    padding: 0px;
}
.userLogado{
    color: #fff;
    line-height: 41px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-family: Arial, SansSerif;
}
.btnSair{
    color: #fff;
    border: 1px solid #fff;
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
}
.btnSair:hover{
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    font-family: Arial, SansSerif;
}
.linkMenu{
    color: RGBA(255, 255, 255, 0.6);
}
.linkMenu:hover{
    text-decoration: none;
}
.titulo{
    text-align: center;
    margin: 10px 0px 15px 0px;
}
.btnListUser{
    height: 20px;
    cursor: pointer;
}
#btnCadastrar{
    float: right;
}
.containerCenter{
    max-width: 600px;
    margin: auto;
}
.containerCenter2{
    max-width: 900px;
    margin: auto;
}
.btnCadastro{
    margin-bottom: 20px;
}
.imgVoltarP{
    margin-right: 5px;
    height: 11px;
}
.button{
    cursor: pointer ;
}
.button:hover{
    background-color: #d7dbdf;
}
.modalSemRetorno{
    width: 300px;
    height: 80px;
    background-color: red;
    float: right;
    position: absolute;
    top: 41px;
    margin-left: 80%;
}
.msgAlert{
    color: RGBA(0, 0, 0, 0.7);
}
.mostrar{
    display: block;
}
.elementoR{
    margin-left: 40px;
}